<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="cn.flysky.eclipse.file.location.actionSet"
            label="FileLocation Action Set"
            visible="true">
         <action
               class="%myActionClass"
               disabledIcon="fileLocation_disabled.gif"
               enablesFor="*"
               icon="icons/fileLocation_enabled.gif"
               id="cn.flysky.eclipse.file.location.actions.FileLocationAction"
               label="&amp;FileLocation"
               toolbarPath="org.eclipse.ui.workbench.file/print.ext"
               tooltip="打开文件所在位置">
         </action>
      </actionSet>
   </extension>
</plugin>
